@charset "uft-8";
@font-face {
    font-family: 'NEXON Lv1 Gothic OTF';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv1 Gothic OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
body {
    color: #333;
    line-height: 1;
    background-color: #0f0501;
    font-family: 'NEXON Lv1 Gothic OTF';
}

#wrap {
    max-width: 1920px;
    height: 1635px;
    margin: 0 auto;
    position: relative;
}
.box {
    width: 100%;
    height: 63px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}
#header {
    width: 1833px;
    margin: 0 auto;
    z-index: 100;
    position: sticky;
    top: 31px;
    left: 0;
}
#header .header_logo_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header h1 {
    margin-top: 25px;
}
#header h1 img {
    width: 146px;
    height: 41px;
    object-fit: cover;
}
#header ul {
    width: 190px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 12px;
}
#header .header_btn {
    width: 60px;
    height: 60px;
    cursor: pointer;
}
#header ul .home_btn {
    background: url('../img/home_btn.png') center center no-repeat;
}
#header ul .home_btn:hover {
    background: url('../img/home_btn_hover.png') center center no-repeat;
}
#header ul .youtube_btn {
    background: url('../img/youtube_btn.png') center center no-repeat;
}
#header ul .youtube_btn:hover {
    background: url('../img/youtube_btn_hover.png') center center no-repeat;
}
#header ul .instar_btn {
    background: url('../img/instar_btn.png') center center no-repeat;
}
#header ul .instar_btn:hover {
    background: url('../img/instar_btn_hover.png') center center no-repeat;
}

.nav_bav_list {
    width: 265px;
    height: 100vh;
    position: absolute;
    top: -31px;
    left: -36px;
    cursor: pointer;
    transition: transform 0.4s ease-in-out;
}
.nav_bav_list .menu_open {
    width: 44px;
    height: 44px;
    background: url('../img/menu_open.png') center center no-repeat;
}
.nav_bav_list .menu_open.active {
    background: url('../img/menu_close.png') center center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
}
.gnb_open {
    width: 221px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: #222222;
    position: absolute;
    top: 0;
    left: -221px;
}
.gnb_open .gnb_title {
    height: 44px;
    padding-top: 58px;
    margin-left: 35px;
    margin-bottom: 65px;
}
.gnb_open .gnb_title img {
    width: 146px;
    height: 41px;
    object-fit: cover;
}
.gnb_open .gnb {
    width: 220px !important;
}
.gnb_open .depth01 {
    width: 100%;
    border-top: 1px dashed #2f2e32;
    padding-top: 25px;
    padding-bottom: 25px;
    filter: grayscale(100%);
}
.gnb_open .depth01 a {
    display: flex;
    justify-content: flex-start;
    margin-left: 24px;
}
.gnb_open .depth01 a img {
    width: 52px;
    height: 52px;
    object-fit: cover;
    border: 2px solid #4d4d4d;
    margin-right: 13px;
}
.gnb_open .depth01:nth-child(3) a img {
    border: none;
}
.gnb_open .depth01:nth-child(4){
    border-bottom: 1px dashed #2f2e32;
}
.gnb_open .depth01 a div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-size: 14px;
}
.gnb_open .depth01:hover {
    filter: none;
}
.gnb_open .depth01.active {
    filter: none;
}

/* .nav_bav_list {
    width: 265px;
    height: 100vh;
    position: absolute;
    top: -31px;
    left: -32px;
}
.nav_bav_list .menu_open {
    width: 44px;
    height: 44px;
    background: url('../img/menu_open.png') center center no-repeat;
    position: absolute;
    top: 0;
    left: -3px;
}
.nav_bav_list .menu_open.active {
    background: url('../img/menu_close.png') center center no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
}
.nav_bav_list .gnb_open {
    width: 221px;
    height: 100%;
    background-color: #222222;
    left: 0;
    display: none;
}
.nav_bav_list .gnb_open .gnb_title {
    padding-top: 51px;
    padding-bottom: 35px;
    display: flex;
    justify-content: center;
}
.nav_bav_list .gnb_open .gnb_title img {
    width: 146px;
    height: 41px;
    object-fit: cover;
}
.nav_bav_list .gnb_open .gnb {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.nav_bav_list .gnb_open .gnb li {
    width: 100%;
    padding: 25px 0;
    border-top: 1px dashed #2f2e32;
    padding-left: 24px;
    filter: grayscale(100%);
}
.gnb_open .depth01:nth-child(4){
    border-bottom: 1px dashed #2f2e32;
}
.nav_bav_list .gnb_open .gnb li:hover {
    filter: none;
}
.nav_bav_list .gnb_open .gnb li.active {
    filter: none;
}
.nav_bav_list .gnb_open .gnb li a {
    display: flex;
}
.nav_bav_list .gnb_open .gnb li a img {
    width: 52px;
    height: 52px;
    object-fit: cover;
    border: 2px solid #4d4d4d;
    margin-right: 12px;
}
.gnb_open .depth01:nth-child(3) a img {
    border: none !important;
}
.nav_bav_list .gnb_open .gnb li a > div {
    font-size: 14px;
    color: #fff;
    display: flex;
    align-items: center;
    line-height: 1.3;
} */

#burning_page {
    width: 100%;
    height: 1642px;
    position: relative;
    top: -72px;
    opacity: 1;
}
#burning_page .background_img {
    width: 100%;
    height: 1642px;
    background: url('../img/cont_bg.png') center center no-repeat;
    animation: cont_bg 0.8s linear infinite;
    position: absolute;
    top: -5px;
}
@keyframes cont_bg {
    0% {
        filter: url(#squiggly-0);
    }
    25% {
        filter: url(#squiggly-1);
    }
    50% {
        filter: url(#squiggly-2);
    }
    75% {
        filter: url(#squiggly-3);
    }
    100% {
        filter: url(#squiggly-4);
    }
}

#burning_page .no_animation {
    padding-top: 65px;
}
#burning_page .no_animation .ttl_01 {
    width: 634px;
    height: 65px;
    background: url('../img/ttl_01.png') center center no-repeat;
    margin: 0 auto;
    position: relative;
    z-index: 1;
}
#burning_page .no_animation .character {
    width: 699px;
    height: 638px;
    background: url('../img/char.png') center center no-repeat;
    /* margin: 0 auto; */
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -58px;
    z-index: 1;
}
#burning_page .ttl {
    position: relative;
    width: 100%;
}
#burning_page .ttl .ttl_img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: top 1s; 
}
#burning_page .ttl .title_01 {
    width: 376px;
    height: 376px;
    background: url('../img/버.png') center center no-repeat;
    top: 15px;
    margin-left: -356px;
}
#burning_page .ttl .title_02 {
    width: 387px;
    height: 376px;
    background: url('../img/닝.png') center center no-repeat;
    top: 15px;
    margin-left: 302px;
}
#burning_page .ttl .event_ttl {
    width: 1323px;
    height: 103px;
    background: url('../img/event_ttl.png') center center no-repeat;
    top: 414px;
    margin-left: -20px;
}
#burning_page .ttl .ttl_02 {
    width: 742px;
    height: 90px;
    background: url('../img/ttl_02.png') center center no-repeat;
    top: 533px;
    margin-left: -20px;
}
#burning_page .ttl .stone {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#burning_page .ttl .stone01 {
    width: 122px;
    height: 82px;
    background: url('../img/stone_01.png') center center no-repeat;
    top: -45px;
    margin-left: -612px;
}
#burning_page .ttl .stone02 {
    width: 69px;
    height: 58px;
    background: url('../img/stone_02.png') center center no-repeat;
    top: 47px;
    margin-left: 445px;
}
#burning_page .ttl .stone03 {
    width: 86px;
    height: 123px;
    background: url('../img/stone_03.png') center center no-repeat;
    top: 340px;
    margin-left: -747px;
}
#burning_page .ttl .stone04 {
    width: 99px;
    height: 88px;
    background: url('../img/stone_04.png') center center no-repeat;
    top: 344px;
    margin-left: 207px;
}

#burning_page .color_card {
    width: 100%;
    position: relative;
    z-index: 1;
}
#burning_page .color_card .card_img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
#burning_page .color_card .card_img .btn {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}
#burning_page .color_card .red_card {
    width: 604px;
    height: 722px;
    background: url('../img/red_card.png') center center no-repeat;
    top: 627px;
    margin-left: -383px;
    transition-duration: 0.3s;
    position: relative;
}
#burning_page .color_card .red_card:hover {
    margin-left: -725px;
    transform: rotate(10deg) !important;
    transform-origin: right;
    z-index: 1;
}
#burning_page .color_card .red_card .red_btn {
    width: 411px;
    height: 127px;
    background: url('../img/red_btn.png') center center no-repeat;
    bottom: 42px;
    margin-left: 45px;
}
#burning_page .color_card .red_card .red_btn:hover {
    background: url('../img/red_btn_hover.png') center center no-repeat;
}
#burning_page .color_card .purple_card {
    width: 604px;
    height: 722px;
    background: url('../img/purple_card.png') center center no-repeat;
    top: 627px;
    margin-left: 340px;
    transition-duration: 0.3s;
}
#burning_page .color_card .purple_card:hover {
    margin-left: 96px;
    transform: rotate(-10deg) !important;
    transform-origin: left;
    z-index: 1;
}
#burning_page .color_card .purple_card .purple_btn {
    width: 410px;
    height: 127px;
    background: url('../img/purple_btn.png') center center no-repeat;
    bottom: 42px;
    margin-left: -45px;
}
#burning_page .color_card .purple_card .purple_btn:hover {
    background: url('../img/purple_btn_hover.png') center center no-repeat;
}
#burning_page .color_card .blue_card {
    width: 604px;
    height: 722px;
    background: url('../img/blue_card.png') center center no-repeat;
    top: 627px;
    transition-duration: 0.3s;
    margin-left: -20px;
}
#burning_page .color_card .blue_card:hover {
    transform: translateY(-34px) !important;
    margin-left: -323px;
}
#burning_page .color_card .blue_card .blue_btn01 {
    width: 215px;
    height: 65px;
    background: url('../img/blue_btn_01.png') center center no-repeat;
    bottom: 72px;
    margin-left: -111px;
}
#burning_page .color_card .blue_card .blue_btn01:hover {
    background: url('../img/blue_btn_hover_01.png') center center no-repeat;
}
#burning_page .color_card .blue_card .blue_btn02 {
    width: 215px;
    height: 65px;
    background: url('../img/blue_btn_02.png') center center no-repeat;
    bottom: 72px;
    margin-left: 111px;
}
#burning_page .color_card .blue_card .blue_btn02:hover {
    background: url('../img/blue_btn_hover_02.png') center center no-repeat;
}

#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
